
#title-container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vmin;
}
#title-container > h1 {
    text-wrap: nowrap;
    text-align: center;
    font-size: 4rem;
}
#title-container > p {
    width: 100%;
}
#room-selector {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
}
#room-selector > button {
    min-width: 35vmin;
}
#room-create-error {
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%, -1rem);
    height: 0px;
    color: var(--red);
    overflow-x: visible;
    text-wrap: nowrap;
}
#room-code-join-row {
    display: flex;
    flex-direction: row;
}
#room-code-join-row > input {
    font-family: "Jetbrains Mono";
    width: 8rem;
}
#room-code-join-row > button {
    margin-left: 0.5rem;
    flex-grow: 1;
}

#github-link {
    position: absolute;
    top: 2rem;
    left: 2rem;
    height: 2rem;
}

#language-selector {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#join-page {
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: 50vmin;
    transform: translate(-50%, -50%);
    background: var(--bg-mid);
    padding: 3rem;
    border-radius: 1rem;
}
#join-room-username {
    width: 100%;
}