
#room-error-overlay {
    z-index: 99999999;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(0.2rem);
}
#room-error-message {
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: 50vmin;
    transform: translate(-50%, -50%);
    padding: 3rem;
    border-radius: 0.5rem;
    background: var(--bg-back);
}

#waiting-title {
    position: absolute;
    top: 2rem;
    left: 2rem;
}
#waiting-players-container {
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: 50vmin;
    transform: translate(-50%, -50%);
    background: var(--bg-mid);
    padding: 3rem;
    border-radius: 0.5rem;
}
#waiting-player-list {
    width: 100%;
    padding: 1rem 0 1rem 0;
    max-height: 50vh;
    overflow: auto;
}
.player-info-container {
    padding: 0.25rem 0 0.25rem 0;
    color: var(--text-main);
}
.player-status-ready { color: var(--green); }
.player-status-not-ready { color: var(--red); }
.player-status-room-owner {
    color: var(--bg-front);
    height: 1.25rem;
    margin-left: 0.25rem;
    transform: translate(0%, 17.5%);
}
.player-status-ready, .player-status-not-ready {
    margin-left: 0.5rem;
    font-size: 0.8rem;
}
.player-info-container > .player-kick-button {
    float: right;
    aspect-ratio: 1;
    padding: 0.25rem;
    margin: 0;
    margin-right: 2px;
}
.player-kick-button > img { height: 1rem; }
#copy-invite-link { float: right; }

#settings-container {
    position: absolute;
    right: 2rem;
    top: 50vh;
    transform: translate(0, -50%);
    width: 20rem;
    padding: 2rem;
    border-radius: 0.5rem;
    background: var(--bg-mid);
}
.setting-container {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
}
.setting-container > div {
    position: relative;
    flex-grow: 1;
    margin-right: 0.25rem;
}
.setting-container > div > div {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.setting-container > button {
    margin: 0;
    min-width: 6rem;
}
.setting-container > .setting-positive {
    color: var(--green) !important;
}
.setting-container > .setting-negative {
    color: var(--red) !important;
}

#chat-container {
    z-index: 99999999;
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    width: 25rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background: var(--bg-mid);
    text-wrap: nowrap;
}
#chat-controls {
    display: flex;
    flex-direction: row;
    width: 100%;
}
#chat-controls > input {
    flex-grow: 1;
    margin-right: 0.5rem;
}
#chat-message-list {
    width: 100%;
    height: 10rem;
    overflow-y: auto;
    text-wrap: wrap;
    overflow-wrap: break-word;
}
.chat-message-name {
    font-weight: bold;
}
.chat-message-content {
    margin-left: 0.75rem;
}
#chat-message-disclaimer {
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

#game-canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    image-rendering: crisp-edges;
}
#game-world-interacts {
    position: absolute;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}
.game-signal-container {
    pointer-events: auto;
    position: absolute;
    transform: translate(-50%, calc(-100% + 0.5rem));
    width: 0.5rem;
    height: 1.0rem;
    padding: 0.5rem;
}
.game-signal-container::before {
    display: block;
    content: " ";
    width: 0.125rem;
    height: 1rem;
    border-radius: 0.0625rem;
    transform: translate(0.1875rem, 0px);
    background: var(--mid-white);
}
.game-signal-container::after {
    display: block;
    content: " ";
    transform: translate(0px, -1rem);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    outline: 2px solid var(--mid-white);
}
.game-signal-container:hover {
    cursor: pointer;
}
.game-signal-container:hover::before {
    background: var(--bright-white);
}
.game-signal-container:hover::after {
    outline-color: var(--bright-white);
}
.game-signal-container.signal-danger::after {
    background: var(--red);
}
.game-signal-container.signal-proceed::after {
    background: var(--green);
}